PORT=3000
SENDGRID_API_KEY=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
MONGODB_URL=mongodb://127.0.0.1:27017/task-manager-api-test
JWT_SECRET=uKZXvV9R5qQfpgQLcrXYlEyYbqv3zjpIotwx
FROM_EMAIL=hieu.duong@vietbrilliant.com